<footer>
<div class="footer bg-dark pt-2">
    <a routerLink="" class="text-decoration-none fw-semibold" style="margin: 0px 40px 0px 180px;">Become a Seller</a>
    <a routerLink="" class="text-decoration-none fw-semibold">Policies</a>
    <a routerLink="" class="mx-5 text-decoration-none fw-semibold">Terms and Conditions</a>
    <a routerLink="" class=" text-decoration-none fw-semibold">Help Center</a>
    <a routerLink="" class="mx-5 text-decoration-none fw-semibold">News</a>
    <a routerLink="" class=" text-decoration-none fw-semibold">Facebook</a>
    <a routerLink="" class="mx-5 text-decoration-none fw-semibold">Youtube</a>
    <a routerLink="" class=" text-decoration-none fw-semibold">Sitemap</a>
    <a routerLink="" class="mx-5 text-decoration-none fw-semibold">FAQ</a>
    <p class="text-white fw-semibold mt-1" style="text-align: center;">&copy; 2023 &nbsp;&nbsp;E-Commerce &nbsp;Project</p>
</div>
</footer>