input.ng-invalid.ng-touched{
    border:3px solid red;
    color:red;
}
input::placeholder {
    color: black;
}
textarea.ng-invalid.ng-touched{
    border:3px solid red;
    color:red;
}
textarea::placeholder {
    color: black;
}
form{
    border-radius: 10px;
}